@media only screen and (max-width: 780px) {

    .row {
        height: auto;
        padding: 20% 10% 10%
    }

    .col-1, .col-3 {
        width: 100%;
    }

    .col-3 {
        max-width: 100%;
        margin-bottom: 2.8rem;
    }

    .col-blue {
        min-height: 100%;

        h4 {
            margin-top: 0;
        }
    }

    .img-top {
        right: -12rem;
        height: 60vh;
    }

    .img-bottom {
        display: none;
    }

    .intro {
        position: relative;
        z-index: 10;
    }
}